In [92]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [72]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_by_revenue'
response = requests.get(url)

In [79]:
if response.status_code == 200:
    soup = BeautifulSoup(response.content, 'html.parser')
    table = soup.find('table', class_ = 'wikitable')
    rows = table.find_all('tr')
    
    companys = []
    industrys = []
    revenues = []
    profits = []
    employeess = []
    countrys = []
    for row in rows[2:]:
        columns = row.find_all('td')
        company = columns[0].text
        companys.append(company)
        industry = columns[1].text
        industrys.append(industry)
        revenue = columns[2].text
        revenues.append(revenue)
        profit = columns[3].text
        profits.append(profit)
        employees = columns[4].text
        employeess.append(employees)
        country = columns[5].text
        countrys.append(country)

In [94]:
dict = {'Name': companys,
                  'Inductry': industrys,
                  'Revenue': revenues,
                  'Profit': profits,
                  'Employees': employeess,
                  'Headquaters': countrys}
df = pd.DataFrame(dict)
df.index = np.arange(1,len(df)+1)
df

,Name,Inductry,Revenue,Profit,Employees,Headquaters
1,Walmart,Retail,"$572,754","$13,673","2,300,000",United States
2,"Amazon.com, Inc.",Retail,"$469,822","$33,364","1,608,000\n",United States\n
3,State Grid Corporation of China,Electricity,"$460,616.9","$7,137.8","871,145\n",China\n
4,China National Petroleum Corporation\n,Oil and gas\n,"$411,692.9","$9,637.5","1,090,345",China
5,China Petrochemical Corporation,Oil and gas,"$401,313.5","$8,316.1","542,286",China
6,Saudi Aramco,Oil and gas,"$400,399.1","$105,369.1","68,493",Saudi Arabia
7,Apple Inc.,Electronics,"$365,817","$94,680","154,000",United States
8,Volkswagen Group\n,Automotive,"$295,819.8","$18,186.6","662,575",Germany
9,China State Construction Engineering,Construction,"$293,712.4","$4,443.8","368,327",China
10,CVS Health,Healthcare,"$292,111","$7,910","258,500",United States
11,UnitedHealth Group,Healthcare,"$287,597","$17,285","350,000\n",United States\n
12,ExxonMobil\n,Oil and gas\n,"$285,640","$23,050","63,000",United States
13,Toyota\n,Automotive\n,"$279,337.7","$25,371.4","372,817",Japan
14,Berkshire Hathaway,Financials,"$276,094","$89,795","372,000\n",United States\n
15,Shell plc\n,Oil and gas\n,"$272,657","$20,101","82,000",United Kingdom\n
16,McKesson Corporation,Healthcare,"$263,966","$1,114","66,500",United States
17,Alphabet Inc.,Information technology,"$257,637","$76,033","156,500",United States
18,Samsung Electronics\n,Electronics,"$244,334.9","$34,293.5","266,673",South Korea
19,Trafigura,Commodities,"$231,208.1","$3,100","9,031",Singapore
20,Foxconn,Electronics,"$214,619.2","$4,988.3","826,608",Taiwan
21,AmerisourceBergen,Healthcare,"$213,988.8","$1,539","40,000",United States
22,Industrial and Commercial Bank of China,Financials,"$209,000.4","$46,898.9","434,089",China
23,Glencore,Commodities,"$203,751","$4,974","81,284",Switzerland
24,China Construction Bank,Financials,"$200,434","$46,898.9","375,531",China
25,Ping An Insurance,Financials,"$199,629","$15,753","355,982",China
26,Costco,Retail,"$195,929","$5,007","288,000",United States
27,TotalEnergies,Oil and gas,"$184,634","$16,032","101,309\n",France\n
28,Agricultural Bank of China,Financials,"$181,411.7","$37,390.8","455,174",China
29,Stellantis\n,Automotive\n,"$176,663\n","$16,789.1\n","281,595\n",Netherlands\n
30,Cigna\n,Healthcare\n,"$174,078\n","$5,365\n","72,963\n",United States\n
31,Sinochem\n,Chemicals\n,"$172,260.3\n",–$197.7\n,"220,760\n",China
32,AT&T,Telecommunications,"$168,864","$20,081","202,600",United States
33,Microsoft\n,Information technology\n,"$168,088\n","$61,271\n","181,000\n",United States\n
34,China Railway Engineering Corporation\n,Construction\n,"$166,452.1\n","$1,853.2\n","310,817\n",China\n
35,BP\n,Oil and gas\n,"$164,195","$7,565","65,900",United Kingdom
36,Cardinal Health,Healthcare,"$162,467",$611,"46,827\n",United States\n
37,Chevron Corporation,Oil and gas,"$162,465","$15,625","42,595",United States
38,Mercedes-Benz Group,Automotive,"$158,306.1","$27,200.8","172,425",Germany
39,China Railway Construction Corporation\n,Construction\n,"$158,203\n","$1,703.8\n","366,833\n",China\n
40,China Life Insurance Company,Insurance,"$157,095.3","$3,087.1","182,646",China
41,Mitsubishi Group\n,Conglomerate\n,"$153,690\n","$8,345.8\n","80,728\n",Japan\n
42,Bank of China,Financials,"$152,409.3","$33,573","306,322",China
43,The Home Depot,Retail,"$151,157","$16,433","490,600",United States
44,Baowu\n,Steel\n,"$150,730\n","$2,994.9\n","230,884\n",China\n
45,Walgreens Boots Alliance,Retail,"$148,579","$2,542","258,000",United States
46,JD.com\n,Retail,"$147,526.2",–$551.8,"385,357\n",China\n
47,Allianz\n,Financials\n,"$144,516.6","$7,815.2","155,411",Germany
48,Axa\n,Financials\n,"$144,446.8","$8,623.9","92,398",France
49,Marathon Petroleum,Oil and gas,"$141,032","$9,738","17,700",United States
50,Elevance Health,Healthcare,"$138,639","$6,104","98,200",United States